<div *ngIf="!showNewForm">
     <form [formGroup]="oldCredentialsForm" (ngSubmit)="onSubmitOldCredentials()">
          
          <div class="mb-3">
               <label for="password" class="form-label">Παλιός Κωδικός:</label>
               <input
               id="password"
               type="password"
               formControlName="password"
               class="form-control"
               [ngClass]="{ 'is-invalid': oldCredentialsForm.get('password')?.invalid && oldCredentialsForm.get('password')?.touched }"
               />
               <div *ngIf="oldCredentialsForm.get('password')?.invalid && oldCredentialsForm.get('password')?.touched" class="invalid-feedback">
               Ο παλιός κωδικός είναι απαραίτητος.
               </div>
          </div>
          <div class="color-danger">{{errorMessage}}</div>
          <button type="submit" class="btn btn-danger">Επαλήθευση</button>
     </form>
</div>

<div *ngIf="showNewForm">
     <form [formGroup]="newCredentialsForm" (ngSubmit)="onSubmitNewCredentials()">
          <div class="mb-3">
               <label for="username" class="form-label">Νέο Username:</label>
               <input
               id="username"
               type="text"
               formControlName="username"
               class="form-control"
               [ngClass]="{ 'is-invalid': oldCredentialsForm.get('username')?.invalid && oldCredentialsForm.get('username')?.touched }"
               />
               <div *ngIf="oldCredentialsForm.get('username')?.invalid && oldCredentialsForm.get('username')?.touched" class="invalid-feedback">
               Το νεο username είναι απαραίτητο.
               </div>
          </div>

          <div class="mb-3">
               <label for="password" class="form-label">Νέος Κωδικός:</label>
               <input
               id="password"
               type="password"
               formControlName="password"
               class="form-control"
               [ngClass]="{ 'is-invalid': oldCredentialsForm.get('password')?.invalid && oldCredentialsForm.get('password')?.touched }"
               />
               <div *ngIf="oldCredentialsForm.get('password')?.invalid && oldCredentialsForm.get('password')?.touched" class="invalid-feedback">
               Ο νέος κωδικός είναι απαραίτητος.
               </div>
          </div>
          <div class="color-danger">{{errorMessage}}</div>
          <button type="submit" class="btn btn-danger">Ενημέρωση</button>
     </form>
</div>

