<div class="container mt-4">
     <h3 class="text-center text-danger mb-4">ΠΡΟΓΡΑΜΜΑ ΜΑΘΗΜΑΤΩΝ</h3>
     <div class="table-responsive">
          <table class="table table-hover table-bordered custom-table">
               <thead class="thead-dark">
                    <tr>
                         <th>Όνομα μαθήματος</th>
                         <th>Ημέρα</th>
                         <th>Ώρα</th>
                         <th>Προπονητής</th>
                    </tr>
               </thead>
               <tbody>
                    <tr *ngFor="let course of sortedCourses">
                         <td>{{ course.name }}</td>
                         <td>{{ course.day }}</td>
                         <td>{{ course.startTime }} - {{course.endTime}}</td>
                         <td>{{ course.firstnameLastnameCoach}}</td>
                    </tr>
               </tbody>
          </table>
     </div>
     <div class="container mt-4">
          <h3 class="text-center mb-4 text-danger">ΠΕΡΙΓΡΑΦΗ ΜΑΘΗΜΑΤΩΝ</h3>
          <div class="d-flex flex-wrap justify-content-center gap-4 container-card">
               <div *ngFor="let course of sortedCourses">
                    <div class="card shadow border-danger" style="background-color: #f8f9fa;">
                         <div class="card-body">
                              <h5 class="card-title text-danger">{{ course.name }}</h5>
                              <p class="card-text text-dark">{{ course.description }}</p>
                         </div>
                         <div class="card-footer bg-transparent border-top-0">
                              <small class="text-muted">
                              <strong class="text-dark">Ημέρα:</strong> {{ course.day }}<br />
                              <strong class="text-dark">Ώρα:</strong> {{ course.startTime }} - {{course.endTime}}
                              </small>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>

